<div class="page-header">
  <h1 class="page-title">
    メンバー募集作成
  </h1>
</div>

<div class="row row-cards">
  <div class="col-lg-12">
    <%= form_with(model: @project, local: true) do |form| %>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">プロジェクト</h3>
        </div>
        <div class="card-body">
 
          <div class="col-md-12">
            <div class="form-group">
              <%= form.label :name, :class => 'form-label' do %>プロジェクト名<span class="form-required">*</span><% end %>
              <%= form.text_field :name, class: "form-control #{@project.errors.full_messages_for(:name).any? ? 'is-invalid':''}", placeholder: 'プロジェクト名' %>
              <% @project.errors.full_messages_for(:name).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
          </div>
  
          <div class="col-md-12">
            <div class="form-group">
              <%= form.label :description, :class => 'form-label' do %>概要<span class="form-required">*</span><% end %>
              <%= form.text_area :description, class: "form-control #{@project.errors.full_messages_for(:description).any? ? 'is-invalid':''}", placeholder: 'プロジェクトの概要を入力してください。', rows: 5 %>
              <% @project.errors.full_messages_for(:description).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <%= form.label :owner, :class => 'form-label' do %>オーナー名<span class="form-required">*</span><% end %>
              <%= form.text_field :owner, class: "form-control #{@project.errors.full_messages_for(:owner).any? ? 'is-invalid':''}", placeholder: 'オーナー名' %>
              <% @project.errors.full_messages_for(:owner).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
          </div>
  
          <div class="col-md-12">
            <div class="form-group">
              <%= form.label :email, :class => 'form-label' do %>メールアドレス(任意)<% end %>
              <%= form.text_field :email, type: 'email', class: "form-control #{@project.errors.full_messages_for(:email).any? ? 'is-invalid':''}", placeholder: '連絡先として公開されます' %>
              <% @project.errors.full_messages_for(:email).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
          </div>
 
          <div class="col-md-12">
            <div class="form-group mb-0">
              <label class="form-label" for="project_pass">パスワード<span class="form-required">*</span></label>
              <input type="password" class="form-control " name="project[pass]" id="project_pass">
            </div>
          </div>
  
        </div>

        <div class="card-footer text-right">
          <div class="d-flex">
            <a href="<%= project_path(@project) %>" class="btn btn-link">キャンセル</a>
            <button type="submit" class="btn btn-success ml-auto">プロジェクト編集</button>
          </div>
        </div>

      </div>

    <% end %>
  </div>
</div>
