
<div class="page-header">
  <h1 class="page-title"></h1>
</div>

<div class="row row-cards">
  <div class="col-lg-12">
    <div class="card">

      <div class="card-header">
        <h3 class="card-title">プロジェクト一覧</h3>
        <div class="card-options">
          <a href="<%= new_project_path %>" class="btn btn-success btn-sm"><i class="fe fe-plus"></i>プロジェクト作成</a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table card-table table-striped table-vcenter">
          <thead>
            <tr>
              <th class="">プロジェクト名</th>
              <th class="d-none d-sm-table-cell">オーナー</th>
              <th class="d-none d-md-table-cell">最終更新</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
            <tr>
              <td class="text-nowrap"><a href="<%= project_path(project) %>"><%= project.name %></a></td>
              <td class="text-nowrap d-none d-sm-table-cell"><%= project.owner %></td>
              <td class="text-nowrap d-none d-md-table-cell"><%= project.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
