<div class="page-header">
  <h1 class="page-title">
    メンバー募集作成
  </h1>
</div>

<%= form_with(model: @project, local: true) do |form| %>
<div class="row row-cards">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">プロジェクト</h3>
      </div>
      <div class="card-body">
 
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label :name, :class => 'form-label' do %>プロジェクト名<span class="form-required">*</span><% end %>
            <%= form.text_field :name, class: "form-control #{@project.errors.full_messages_for(:name).any? ? 'is-invalid':''}", placeholder: 'プロジェクト名' %>
            <% @project.errors.full_messages_for(:name).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
        </div>
  
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label :description, :class => 'form-label' do %>概要<span class="form-required">*</span><% end %>
            <%= form.text_area :description, class: "form-control #{@project.errors.full_messages_for(:description).any? ? 'is-invalid':''}", placeholder: 'プロジェクトの概要を入力してください。', rows: 5 %>
            <% @project.errors.full_messages_for(:description).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
        </div>

         <div class="col-md-12">
          <div class="form-group">
            <%= form.label :owner, :class => 'form-label' do %>オーナー名<span class="form-required">*</span><% end %>
            <%= form.text_field :owner, class: "form-control #{@project.errors.full_messages_for(:owner).any? ? 'is-invalid':''}", placeholder: 'オーナー名' %>
            <% @project.errors.full_messages_for(:owner).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
        </div>
  
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label :email, :class => 'form-label' do %>メールアドレス(任意)<% end %>
            <%= form.text_field :email, type: 'email', class: "form-control #{@project.errors.full_messages_for(:email).any? ? 'is-invalid':''}", placeholder: '連絡先として公開されます' %>
            <% @project.errors.full_messages_for(:email).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
        </div>
  
        <div class="col-md-12">
          <div class="form-group mb-0">
            <%= form.label :password, :class => 'form-label' do %>パスワード<span class="form-required">*</span><% end %>
            <%= form.text_field :password, type: 'password', class: "form-control #{@project.errors.full_messages_for(:password).any? ? 'is-invalid':''}" %>
            <span class="small text-muted">編集するときに使用します。</span>
            <% @project.errors.full_messages_for(:password).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">メンバー募集記事</h3>
      </div>
      <div class="card-body">
  
        <%= form.fields_for :article do |article| %>
        <div class="col-md-12">
          <div class="form-group">
            <%= article.label :title, :class => 'form-label' do %>募集タイトル<span class="form-required">*</span><% end %>
            <%= article.text_field :title, class: "form-control #{@project.errors.full_messages_for('article.title').any? ? 'is-invalid':''}", placeholder: '募集タイトル' %>
            <% @project.errors.full_messages_for('article.title').each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
        </div>
  
        <div class="col-md-12">
          <div class="form-group">
            <%= article.label :content, :class => 'form-label' do %>募集内容<span class="form-required">*</span><% end %>
            <%= article.text_area :content, class: "form-control #{@project.errors.full_messages_for('article.content').any? ? 'is-invalid':''}", placeholder: '募集内容を入力してください。', rows: 5 %>
            <% @project.errors.full_messages_for('article.content').each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
        </div>
        <% end %>
  
      </div>
  
      <div class="card-footer text-right">
        <div class="d-flex">
          <a href="<%= recruitments_path %>" class="btn btn-link">キャンセル</a>
          <button type="submit" class="btn btn-success ml-auto">作成</button>
        </div>
      </div>
  
    </div>
  </div>
</div>
<% end %>

