<div class="page-header">
  <h1 class="page-title">プロジェクト詳細</h1>
</div>

<div class="row row-cards">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">プロジェクト</h3>
        <div class="card-options">
          <a href="<%= edit_project_path(@project) %>" class="btn btn-success btn-sm">編集</a>
        </div>
      </div>
  
      <div class="card-body">
        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">プロジェクト名</label>
              <div class="form-control-plaintext"><%= @project.name %></div>
            </div>
          </div>
   
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">概要</label>
              <div class="form-control-plaintext"><pre><%= @project.description %></pre></div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">オーナー</label>
              <div class="form-control-plaintext"><%= @project.owner %></div>
            </div>
          </div>
  
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">連絡先(メールアドレス)</label>
              <input type="text" class="form-control" value="<%= @project.email %>" onclick="this.select();" readonly>
            </div>
          </div>
   
        </div>
      </div>
  
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          メンバー募集
          <% if @project.article.is_active %>
              <span class="badge badge-primary">募集中</span>
          <% else %>
              <span class="badge badge-secondary">募集停止中</span>
          <% end %>
        </h3>
        <div class="card-options">
          <a href="<%= edit_recruitment_path(@project) %>" class="btn btn-success btn-sm">編集</a>
        </div>
      </div>
  
      <div class="card-body">
        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">タイトル</label>
              <div class="form-control-plaintext"><%= @project.article.title %></div>
            </div>
          </div>
   
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">内容</label>
              <div class="form-control-plaintext"><pre><%= @project.article.content %></pre></div>
            </div>
          </div>

        </div>
      </div>
  
    </div>
  </div>

</div>
