<div class="page-header">
  <h1 class="page-title">
    メンバー募集作成
  </h1>
</div>

<div class="row row-cards">
  <div class="col-lg-12">
    <div class="card">
      <%= form_with(model: @article, url: recruitment_path(@article),  local: true) do |form| %>
        <div class="card-header">
          <h3 class="card-title">メンバー募集記事</h3>
        </div>
        <div class="card-body">
  
          <div class="col-md-12">
            <div class="form-group">
              <%= form.label :is_active, :class => 'form-label' do %>公開・非公開設定<% end %>
              <label class="custom-switch">
                <%= form.check_box :is_active, class: 'custom-switch-input' %>
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">公開する</span>
              </label>
              <% @article.errors.full_messages_for(:is_active).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <%= form.label :title, :class => 'form-label' do %>募集タイトル<span class="form-required">*</span><% end %>
              <%= form.text_field :title, class: "form-control #{@article.errors.full_messages_for(:title).any? ? 'is-invalid':''}", placeholder: '募集タイトル' %>
              <% @article.errors.full_messages_for(:title).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
          </div>
  
          <div class="col-md-12">
            <div class="form-group">
              <%= form.label :content, :class => 'form-label' do %>募集内容<span class="form-required">*</span><% end %>
              <%= form.text_area :content, class: "form-control #{@article.errors.full_messages_for(:content).any? ? 'is-invalid':''}", placeholder: '募集内容を入力してください。', rows: 5 %>
              <% @article.errors.full_messages_for(:content).each do |message| %>
                <div class="text-danger"><%= message %></div>
              <% end %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group mb-0">
              <label class="form-label" for="project_pass">パスワード<span class="form-required">*</span></label>
              <input type="password" class="form-control " name="project[pass]" id="project_pass">
            </div>
          </div>
   
        </div>
  
        <div class="card-footer text-right">
          <div class="d-flex">
            <a href="<%= project_path(@article.project) %>" class="btn btn-link">キャンセル</a>
            <button type="submit" class="btn btn-success ml-auto">編集</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

