
<div class="page-header">
  <h1 class="page-title">
    メンバー募集
  </h1>
  <a href="<%= new_project_path %>" class="btn btn-success btn-sm ml-auto"><i class="fe fe-plus"></i>プロジェクト作成</a>
</div>

<div class="row row-cards row-deck">

  <% @articles.each do |article| %>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h4><a href="<%= recruitment_path(article) %>"><%= article.title %></a></h4>
        <div class="text-muted"><%= article.content %></div>
        <div class="d-flex align-items-center pt-5 mt-auto">
          <div>
            <a href="./profile.html" class="text-default"><%= article.project.owner %></a>
            <small class="d-block text-muted"><%= article.updated_at.strftime("%Y/%m/%d %H:%M") %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
